<div class="container visible-lg visible-md">

    <div class="col-md-6 prev">
        <a href="/">
        <span class="pull-left">
        <img src="assets/arrow-prev.png"></span>
            <div class="titles">
                <b>PREVIOUS ARTICLE</b><br>title goes here
            </div>
        </a></div>

    <div class="col-md-6 next">
        <a href="/">
            <div class="pull-left titles">
                <b>NEXT ARTICLE</b><br>title goes here
            </div>
            <div class="pull-right"><img src="assets/arrow-next.png"></div>
        </a></div>

</div>

<hr class="visible-lg visible-md">

<div class="container">
    <div class="col-xs-12">
        <div>taxonomy links</div>
    </div>
    <div class="col-xs-12">
        <div><h1>TITLE HERE</h1></div>
    </div>
</div>

<hr class="visible-lg visible-md">

<div class="container">

    <div class="col-sm-1 visible-lg visible-md">
        <img src="assets/social-left-column.png">
    </div>

    <div class="col-sm-12 col-md-6">

        <div>
            <img class="img-responsive" width="635" src="http://www.hollywoodreporter.com/sites/default/files/imagecache/thumbnail_570x321/2014/05/zack_snyder_ben_affleck_as_batman.jpg" />
            CAPTION HERE
        </div>

        <div><h3>Deck</h3></div>

        <div><p>byline</p></div>

        <div>this is where the actual article body goes</div>

    </div>

    <div class="col-sm-4 visible-lg visible-md pull-right">

        <div>
            <img src="assets/placeholder-ad.png">
        </div>

        <div>

        </div>

        <div class="text-center"><a href="#" class="btn btn-danger btn-large">View More</a></div>

    </div>

</div>