<hr class="visible-lg visible-md">

<div class="container visible-lg visible-md">
    <div class="col-md-12">
        <div class="text-center"><img src="assets/placeholder-banner-ad.png"></div>
    </div>
</div>

<div class="container visible-sm visible-xs">
    <div class="row col-xs-12">
        <div class="text-center"><img src="assets/placeholder-ad.png"></div>
    </div>
</div>

<div class="container visible-sm visible-xs">
    <div class="col-xs-12">
        <div class="text-center"><p></p></p><p>Some sort of recommendation feature goes here.</p><p>Not sure what</p><p>but something based on data</p></p></div>
    </div>
</div>

<hr class="visible-lg visible-md">

<div class="container footer visible-lg visible-md">

    <div class="col-md-5">
        <div>Must Read Entertainment News!</div><div>Subscribe Now!</div>
        <div><a href="#" class="btn btn-primary btn-large">Subscribe</a></div>
    </div>

    <div class="col-md-4">
        More on THR.com
        <ul>
            <li>link one</li>
            <li>link two</li>
            <li>link three</li>
            <li>link four</li>
            <li>link five</li>
            <li>link six</li>
            <li>link seven</li>
            <li>link eight</li>
        </ul>
    </div>

    <div class="col-md-3">
        SOCIAL
    </div>

    <div class="col-xs-12" style="margin:20px 0;height:2px;background-color:#fff;width:100%;"></div>

    <div class="col-md-6 pull-left">
        <div>The Hollywood Reporter ©2014 The Hollywood Reporter. All rights reserved.</div>
        <div><a href="/">Terms of Use</a> | <a href="/">Privacy Policy</a></div>
    </div>

    <div class="col-md-6 text-right">
        <img src="assets/logo.png">
    </div>

</div>